<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form2" name="form2" method="post" action="addstation#about">
  <table width="360" border="1" class="table table-hover">
    <tr>
      <th colspan="5" scope="row">Manage Station </th>
    </tr>
    <tr>
      <th width="40" scope="row">Name</th>
      <td width="51">Address</td>
      <td width="49">Latitude</td>
      <td width="60">Longitude</td>
      <td width="126">&nbsp;</td>
    </tr>
     {% for i in val %}
    <tr>
      <th scope="row">&nbsp;{{i['name']}} </th>
      <td>{{i['place']}} {{i['post']}} {{i['pin']}}  </td>
      <td>&nbsp;{{i['latitude']}} </td>
      <td>&nbsp;{{i['longitude']}} </td>
      <td><p><a href="editstation?id={{i['sid']}}">Edit</a></p>
          <p><a href="deletestation?id={{i['sid']}}">Delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="5" scope="row"> <label>
        <input type="submit" name="Submit" value="Add" />
        </label>
      </th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
