<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="333" border="1" class="table table-hover">
    <tr>
      <th colspan="6" scope="row">Verify Restaurant </th>
    </tr>
    <tr>
      <th width="40" scope="row">Name</th>
      <td width="51">Address</td>
      <td width="38">Phone</td>
      <td width="33">Email</td>
      <td width="37">Image</td>
      <td width="94">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <th height="45" scope="row">{{i['name']}}</th>
      <td>{{i['place']}} {{i['post']}} {{i['pin']}}</td>
      <td>{{i['mobileno']}}</td>
      <td>{{i['email']}}</td>
      <td><img src="../static/image/{{i['image']}}" width="100" height="100"></td>
      <td><p><a href="accept?id={{i['lid']}}">Accept</a></p>
          <p><a href="reject?id={{i['lid']}}">Reject</a></p></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}