<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form2" name="form2" method="post" action="viewfeedbacks">
  <table width="427" border="1" class="table table-hover">
    <tr>
      <th colspan="4" scope="row">View Feedback </th>
    </tr>
    <tr>
      <th colspan="4" scope="row"> Restaurant:
        <label>
          <select name="select">
            {% for i in val %}
            <option value="{{i['lid']}}">{{i['name']}}</option>
            {% endfor %}
          </select>
          </label>
          <label>
          <input type="submit" name="Submit" value="Search" />
          </label>
      </th>
    </tr>
    <tr>
      <th width="75" scope="row">Name</th>
      <th width="75" scope="row">Feedback</th>
      <td width="99">Date</td>
      <td width="150">&nbsp;</td>
    </tr>
    {% for i in val1 %}
    <tr>
      <th scope="row">{{i['Fname']}} {{i['lname']}}</th>
      <th scope="row">{{i['feedback']}}</th>
      <td>{{i['date']}}</td>
      <td><a href="deletefeed?id={{i['fid']}}">Delete</a></td>
    </tr>
        {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}