<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'RESTAURANT/adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="245" border="1" class="table">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i['name']}}</th>
      <td>{{i['place']}} <br>{{i['post']}} <br> {{i['pin']}}</td>
      <td>{{i['phone']}}</td>
      <td>{{i['email']}}</td>
      <td><p><a href="editmember?id={{i['lid']}}">edit</a></p>
      <p><a href="deletemem?id={{i['lid']}}">delete</a></p></td>
    </tr>
    {% endfor %}
    <tr align="center">
      <th colspan="5" scope="row"><a href="adddl#about">Add</a></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}