<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'homeindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="reg" method="post" enctype="multipart/form-data" name="form11" id="form11">
  <table width="380" border="1" class="table">

    <tr>
      <th width="146" scope="row">Name</th>
      <td width="218"><label>
        <input type="text" name="textfield" />
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield2" />
        </label>
      </td>
    </tr> <tr>
      <th scope="row">Post</th>
      <td><label>
        <input type="text" name="textfield89" />
        </label>
      </td>
    </tr> <tr>
      <th scope="row">Pin</th>
      <td><label>
        <input type="text" name="textfield90" />
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Latitude</th>
      <td><label>
        <input type="text" name="textfield3" />
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Longitude</th>
      <td><label>
        <input type="text" name="textfield4" />
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label>
        <input type="text" name="textfield5" />
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield6" />
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Image</th>
      <td><label></label>
        <label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td><label>
        <input type="text" name="textfield8" />
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label>
        <input type="text" name="textfield9" />
        </label>
      </td>
    </tr>
    <tr>
      <th colspan="2" scope="row"> <label>
        <input type="submit" name="Submit" value="Register" />
        </label>
      </th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}