<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'RESTAURANT/adminindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="346" border="1" class="table">
    <tr>
      <th colspan="4" scope="row">Track Order </th>
    </tr>
    <tr>
      <th width="90" scope="row">Name</th>
      <td width="79">Train No </td>
      <td width="77">Item</td>
      <td width="72">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i['Fname']}} {{i['lname']}}</th>
      <td>{{i['trainno']}}</td>
      <td>{{i['items']}}</td>
      <td><a href="allocate?id={{i['orderid']}}">Allocate</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}